<launch>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" output="screen">
        <param name="frequency" value="30" />
        <param name="sensor_timeout" value="0.1" />
        <param name="two_d_mode" value="true" />

        <!-- IMU Input -->
        <param name="imu0" value="/imu/data" />
        <param name="imu0_config" value="[true,  true,  true,
                                 true,  true,  true,
                                 false, false, false,
                                 false, false, false, false, false, false]" />

    </node>
</launch>
